@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a href="https://code-maze.com/identityserver4-authorization/" target="_blank">Authorization Tutorial</a></p>
    <p><a href="https://referbruv.com/blog/implementing-authorization-code-grant-using-identityserver4-with-pkce/">How to Authorization Code flow using IdentityServer4 with PKCE</a></p>
</div>
